!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
!default.xcworkspace
*.ap_
*.apk
*.class
*.dex
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.xcworkspace
.classpath
.DS_Store
.gradle
.idea/
.project
bin/
build/
DerivedData
gen/
local.properties
Pods
profile
Thumbs.db
xcuserdata